$primaryColor:white;
$fontColor:#565b60;
$accentColor:#ff7500;
$backgroudColor:white;
$borderColor:black;
$backgroundSecondColor:#b1b1ac;
$borderColorNav: #565b60;
$backgroundfooter: #ff7500;
$backgroundfooterHover:#565b60;



$backGroundColor: #565b60;
$colorTeamFont: #565b60;
$accentSecondColor: #0C6BA1;