$primaryColor:white;
$fontColor:#595959;
$accentColor:#e600ac;
$backgroudColor:#f9fd08;
$borderColor:black;
$backgroundSecondColor:#EAE9E9;
$borderColorNav:#1895C8;
$backgroundfooter:#6A4970;
$backgroundfooterHover:#9F87A3;



$backGroundColor: #ff7d07;
$colorTeamFont: rgba(106, 73, 112, 0.9);