$primaryColor:white;
$fontColor:#595959;
$accentColor:#e600ac;
$backgroudColor:#ffff33;
$borderColor:gray;
$backgroundSecondColor:#EAE9E9;
$borderColorNav:#1895C8;
$backgroundfooter:#6A4970;
$backgroundfooterHover:#9F87A3
