.u-hidden{
    display:none;
}

.u-radius{
    border-radius:10px;
}
.u-center{
    margin-left: auto;
    margin-right:auto;
}

.u-fadeout
{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 1s, opacity 1s linear;
} 

.u-fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
 }