* {
   // border: 1px solid orangered;
    box-sizing: border-box;
}

.c-header {
    width: 100%;
    max-width: 1200px;
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    background: rgba(red($backgroudColor), green($backgroudColor), blue($backgroudColor), 0.2);
}