.c-cookies{
    width:100%;
    color:$fontColor;
    background-color: $backgroundSecondColor;
    padding-top:1rem;
    padding-bottom:1rem;
    opacity: 0.8;

    &__nav{
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    &__btn{
        line-height: 2.5rem;
        padding-left:2rem;
        padding-right: 2rem;
        border:1px solid $borderColorNav;
        color:$borderColorNav;
        display:block;
        border-radius: 5px;
        &:hover{
            font-weight: bold;
            background-color: $borderColorNav;
            color:$primaryColor;
        }
    }
    &--steaky{
        position: fixed;
        bottom:0;
        left:0;
    }
}