.c-creators{
    display: flex;
    flex-wrap: wrap;
    background: $backGroundColor;
}
.c-creators--title{
    margin-top: 15px;
    margin-bottom: 15px;
    color: $colorTeamFont;
    text-align: center;
    width: 100%;
}
.c-avatar--box{
    width: 250px;
    height: 500px;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.c-avatar--txt{
    text-align: center;
    color: $primaryColor;
}
.c-avatar--txt p{
    color:$borderColor;
    font-family: Arial, Helvetica, sans-serif;
}