.c-hamburger {

    &-icon {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        margin-right: -5px;
        position: relative;
        background: $primaryColor;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    &-trigger {
        display: block;
        width: 2.5em;
        height: 2em;
        position: absolute;
        top: -0.75em;
        left: -0.75em;
        cursor: pointer;
        opacity: 0; // Hide this
        z-index: 2; // And place it over the hamburger
        -webkit-touch-callout: none;
    }

    .c-menu__bar &-icon:nth-last-child(1) {
        transform-origin: 0% 50%;
    }

    .c-menu__bar &-icon:nth-last-child(2) {
        transform-origin: 0% 50%;
    }

    // Transform all the slices of hamburger into a crossmark.
    &-trigger:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }

    // But let's hide the middle one.
    &-trigger:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    // The last one should go the other direction
    &-trigger:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
}

.c-menu {
    position: absolute;
    width: 300px;
    margin: 0.4em 0 0 -14em;
    padding: 4em;
    background: rgba(red($backgroundfooter), green($backgroundfooter), blue($backgroundfooter), 0.9);
    list-style-type: none;
    -webkit-font-smoothing: antialiased; // To stop flickering of text in Safari
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: all 0.57s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    &__small {
        margin: -0.1em 0 0 -14em;
        background: $backgroundfooter;
    }

    &__bar {
        display: inline-block;
        position: relative;
        top: 0.5em;
        right: 1em;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    &__item {
        padding: 10px 10px;
        font-size: $fontBasicSize;

        &--hightlight {
            background-color: $backgroundfooterHover;
        }
    }

    &__anchor {
        color: $primaryColor;
        text-shadow: 1px 1px 2px $primaryColor;
        text-decoration: none;
        font-size: $fontBasicSize * 1.2;
        transition: all 0.2s ease;
    }

    &__anchor:hover {
        text-shadow: 1px 1px 5px $primaryColor;

    }

    &__bar .c-hamburger-trigger:checked~ul {
        transform: none;
    }
}

.c-figure {
    min-width: 10em;
    padding: 0 0;

    &__item {
        color: $primaryColor;
        font-size: $fontBasicSize * 1.3;
        font-weight: bolder;
        text-shadow: 1px 1px 2px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
}

.u-nav__button-return {
    width: 0;
    height: 0;
    border-style: outset;
    border-width: 30px 30px 40px 30px;
    border-color: transparent transparent $borderColor transparent;
    position: fixed;
    top: 90vh;
    left: 80vw;
    cursor: pointer;
    transition: opacity 0.5s linear;
}

@media (min-width:$mobileScreen) {

    .c-menu {
        position: relative;
        display: flex;
        align-self: stretch;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        padding-top: 0;
        text-align: center;
        background: transparent;

        &__small {}

        &__bar {
            top: auto;
            right: auto;
        }

        &__item {
            padding: 0.5em 1em;
        }

        &__anchor {
            text-align: center;
            transition: all 0.2s ease;
        }

        &__bar .c-hamburger-trigger~ul {
            transform: none;
        }
    }

    .c-hamburger {
        &-trigger {
            display: none;
        }

        &-icon {
            display: none;
        }

    }

    .u-nav__button-return {
        left: 90vw;
    }
}