#game_container {
    width: 800px;
    height: 600px;
    position: relative;
    background-image: url("../../img/game/street1.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 0 0;
}

.c-game-container__start {
    background-color: rgb(206, 235, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-game-container__over{
    background-color: white;
    display:none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    opacity: 0.8;
    
}

.u--hide {
    display: none;
}

.c-button__start {
    padding: 1rem 4rem;
    border-radius: 10px;
    font-size: 2rem;
}

.c-button--medium{
    padding:0.5rem 1rem;

}

.c-button--color {
    color: white;
    background-color: $accentColor;
    border: solid 1px gainsboro;

}

.c-button--color:hover {
    cursor: pointer;
    color: $accentColor;
    background-color: white;
    border-color: $accentColor;
}

.animate {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
}

.animate img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

.animate__hero {
    position: absolute;
}

.animate__hero--run {
    background-image: url("../img/game/hero_run.png");
}

.animate__hero--jump {
    background-image: url("../img/game/hero_jump.png")
}

.c-reset__button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}

.c-container--game {
    flex-grow: 3;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.c-container--frame{
    display:flex;
    width:80vw;

}

.c-container--panel{
    flex-grow: 1;
    border: 2px solid $accentColor;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.c-popup--frame {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.c-popup--panel {
	height: 300px;
	width: 500px;
	background-color: white;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.c-close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}

@media (max-width:$tabletScreen) {
    #game_container {
        width: 400px;
        height: 300px;
    }

    .animate {
        width: 20px;
        height: 20px;
    }

    .animate__hero--run {
        background-image: url("../img/game/hero_run_small.png");
    }

    .animate__hero--jump {
        background-image: url("../img/game/hero_jump_small.png");
    }
}