* {
    //border: 1px solid orangered;
    box-sizing: border-box;
}

.c-header {
    width: 100%;
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    background: rgba(red($backgroundfooter), green($backgroundfooter), blue($backgroundfooter), 0.9);
    transition: all 0.8s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    &__logo {
        height: $headerHeight;
        opacity: 0.8;
    }


    &__small {
        height: $headerHeight * 0.7;
        background: rgba(red($backgroundfooter), green($backgroundfooter), blue($backgroundfooter), 1);        
    }
    &__flag{
        position:fixed;
        right:4rem;
        margin-top:auto;
        margin-bottom: auto;
        text-align: center;
        &:hover{
            cursor: pointer;
        }
    }

}

@media (min-width:$mobileScreen) {
    .c-header {
        justify-content: space-around;
    }
}