.c-container {
    margin: 0 auto;
    padding: 0;

}

.c-about-project {
    width: 100%;

    &__title{
        text-align: center;
    }

}

.c-flexbox-product {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.c-box {
    min-width: 220px;
    max-width: 300px;
    height:auto;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.c-about-product--txt {
    text-align: center;
    color: $accentColor;

}
